### Objective - Automate The EDA Process

In [1]:
import numpy as np    # importing numpy library
import pandas as pd   # importing pandas library
import os             # importing OS

In [2]:
os.chdir(r"C:\Users\Manoj\praxis term 1\Python\Functions")    #changing the directory

In [3]:
import EDA                                            #importing the stored user defined function

In [4]:
Data = pd.read_csv(r"C:\Users\Manoj\praxis term 1\IML\cars1.csv")  #reading the file

**The below EDA Function will return Statistics about the given Data based on the inputs Given.**


**Mandatory Parameters -**

1 .*File - Dataset on which EDA to be performed.*

**Optional Parameters -**

2 .*Correlation_check - would return a correlation matrix for all numeric columns in the data set.*

3 .*null_values - would check and return the sum of null values present for all the variables in the Dataset.*

4 .*columns_with_correlation - this parameter will return a correlation matrix only for those variables which have +ve or -ve correlation user can specify the threshold for correlation coefficient.*

5 .*correlation threshold - using this user can alter the threshold for correlation ie. applicable for parameter "4" - Default threshold = 0.5*

**If no optional parameters are given by default it would return the descreptive statistics of all numeric columns in the Dataset.**

**1 .Testing The function with all the parameters -**

In [5]:
#using the EDA function

descreptive_stats, total_correlation, total_null_values, columns_with_correlation  = EDA.EDA( Data,  #data for which EDA
    Correlation_check=1,            #correlation check (1 - yes) for all numerci columns                      to be done
    null_values=1,                  #checking null values(1 - yes) for all columns in dataset    
    columns_with_correlation=1,     #checking correlation for variables having +ve or -ve co-rrelation based on input threshold
    correlation_threshold=0.7)      #setting up the threshold for correlation coeffecient,if not given default threshold = +-0.5

In [6]:
descreptive_stats                    #descreptive statistics for all numeric columns

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [7]:
total_correlation                   #correlation matrix for all the numeric columns

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
MPG,1.000000,-0.735563,-0.764277,-0.726670,-0.787510,0.424490,0.586234
Cylinders,-0.735563,1.000000,0.951787,0.823467,0.895220,-0.522452,-0.360762
Displacement,-0.764277,0.951787,1.000000,0.873758,0.932475,-0.557984,-0.381714
Horsepower,-0.726670,0.823467,0.873758,1.000000,0.840811,-0.682047,-0.419929
Weight,-0.787510,0.895220,0.932475,0.840811,1.000000,-0.430086,-0.315389
Acceleration,0.424490,-0.522452,-0.557984,-0.682047,-0.430086,1.000000,0.301992
Model,0.586234,-0.360762,-0.381714,-0.419929,-0.315389,0.301992,1.000000

In [8]:
total_null_values                #checking null values for all columns in the dataset

Car             0
MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model           0
Origin          0
dtype: int64

In [9]:
columns_with_correlation        #correlation matrix for +ve or -ve correlated variables based on the input threshold by the user

              Cylinders  Displacement  Horsepower    Weight       MPG
Cylinders      1.000000      0.951787    0.823467  0.895220 -0.735563
Displacement   0.951787      1.000000    0.873758  0.932475 -0.764277
Horsepower     0.823467      0.873758    1.000000  0.840811 -0.726670
Weight         0.895220      0.932475    0.840811  1.000000 -0.787510
MPG           -0.735563     -0.764277   -0.726670 -0.787510  1.000000

**2 . Testing using some set of columns**

In [10]:
descreptive_stats = EDA.EDA(Data,             #dataset 
                        Descreptive_statistics_columns = ["Cylinders","Horsepower","Displacement"])  #set of columns

In [11]:
descreptive_stats

        Cylinders  Horsepower  Displacement
count  406.000000  406.000000    406.000000
mean     5.475369  103.529557    194.779557
std      1.712160   40.520659    104.922458
min      3.000000    0.000000     68.000000
25%      4.000000   75.000000    105.000000
50%      4.000000   93.500000    151.000000
75%      8.000000  129.000000    302.000000
max      8.000000  230.000000    455.000000

**3 . Testing using some set of columns and other parameters**

In [16]:
descreptive_stats, null_values, columns_with_correlation  = EDA.EDA(Data,             #dataset 
                                       Descreptive_statistics_columns = ["Cylinders","Weight","Displacement"],#set of columns
                                       null_values = 1,                                             #checking for null values
                                       columns_with_correlation=1)                            #checking for co-rrelation with 
                                                                                              #correlation coeffecient > 0.50

In [17]:
descreptive_stats   #Descreptive statistics for list of specified columns

        Cylinders       Weight  Displacement
count  406.000000   406.000000    406.000000
mean     5.475369  2979.413793    194.779557
std      1.712160   847.004328    104.922458
min      3.000000  1613.000000     68.000000
25%      4.000000  2226.500000    105.000000
50%      4.000000  2822.500000    151.000000
75%      8.000000  3618.250000    302.000000
max      8.000000  5140.000000    455.000000

In [18]:
null_values                 #null values for list of specified columns

Cylinders       0
Weight          0
Displacement    0
dtype: int64

In [19]:
columns_with_correlation    #correlation matrix for list of specified columns with correlation coeffecieant above 0.50

                Weight  Displacement  Cylinders
Weight        1.000000      0.932475   0.895220
Displacement  0.932475      1.000000   0.951787
Cylinders     0.895220      0.951787   1.000000